[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
private_key_file = ~/.ssh/infra_ed25519
roles_path = roles
collections_path = collections

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=300s
pipelining = True

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

